<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select Employee</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<form method="get">
    <h1>Select Employee</h1>
    <div class="card card--admin-home">
        <table>
            <tr th:each="employee: ${employees}">
                <td><a th:href="@{/admin/forms/{id}(id=${employee.getEmployeeId()})}"
                       th:value="${employee.getEmployeeId()}"
                       th:text="|${employee.getFirstName()} ${employee.getLastName()}|"></a></td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>