<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Forms</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<form method="get">
    <h1>Forms</h1>
    <div class="card">
        <table>
            <tr th:each="form: ${forms}">
                <td><a th:href="@{/admin/approveForm/{id}(id=${form.getFormId()})}"
                       th:text="|${form.getFormId()} ${form.getFirstName()} ${form.getLastName()}
                   ${form.getRequestReason()}|"></a></td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>