<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Successfully Submitted</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<form class="logout" th:action="@{/logout}" method="post">
    <label>
        <input type="hidden" th:text="|${employee.getFirstName()} ${employee.getLastName()}|">
    </label>
    <button type="submit" class="logout-button">Logout</button>
</form>
<form th:action="@{/employee/submittedForm/{id}(id=${formDTO.getFormId()})}" method="get">
    <div class="card">
        <div id="name">
            <label>First Name:
                <input type="hidden" th:text="${formDTO.getFirstName()}">
            </label>
            <label>Last Name:
                <input type="hidden" th:text="${formDTO.getLastName()}">
            </label>
        </div>
        <div id="department-info">
            <label>Department:
                <input type="hidden" th:text="${formDTO.getDepartment()}">
            </label>
            <label>Supervisor:
                <input type="hidden" th:text="${formDTO.getSupervisor()}">
            </label>
        </div>
        <div class="form-input">
            <label>Category:
                <input type="hidden" th:text="${formDTO.getRequestTopic()}">
            </label>
            <label>Reason:
                <input type="hidden" th:text="${formDTO.getRequestReason()}">
            </label>
            <label>Cost:
                <input type="hidden" th:text="${formDTO.getCost()}">
            </label>
        </div>
    </div>
</form>
</body>
</html>