<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Status</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div id="name">
    <label>First Name:
        <input type="hidden" th:text="${formDTO.firstName}">
    </label>
    <label>Last Name:
        <input type="hidden" th:text="${formDTO.getLastName()}">
    </label>
</div>
<div id="department-info">
    <label>Department:
        <input type="hidden" th:text="${formDTO.getDepartment()}">
    </label>
    <label>Supervisor:
        <input type="hidden" th:text="${formDTO.getSupervisor()}">
    </label>
</div>
<div id="form-input">
    <label>Category:
        <input type="hidden" th:text="${formDTO.getRequestTopic()}">
    </label>
    <label>Reason:
        <input type="hidden" th:text="${formDTO.getRequestReason()}">
    </label>
    <label>Cost:
        <input type="hidden" th:text="${formDTO.getCost()}">
    </label>
    <label>Approve?
        <input type="hidden" th:text="${formDTO.getRequestStatus()}">
    </label>
</div>
</body>
</html>